@import './mixin.scss';
.container {
    position: relative;
    // 安全距离
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
// a下面的img基本一样的
a{
    img {
        width: 100%;
        height: 100%;
    }
}
.fl{
  float: left;
}
.fr{
  float: right;
}
// 清除浮动float
.clearfix:before,.clearfix:after{
  content:' ';
  display:table;
}
.clearfix:after{
  clear: both;
}


// logo
.header-logo {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #FF6600;
  a {
    display: inline-block;
    // 实际是放了两张照片 所以是55*2
    width: 110px;
    height: 55px;
    // 伪类before
    &:before{
      content: '';
      @include bgImg(55px,55px,'/imgs/mi-logo.png',55px);
      // 鼠标移走 margin恢复了原来
      // 所以过渡添加在这里
      transition: margin .2s;
    }
    // 伪类after
    &:after{
      content: '';
      @include bgImg(55px,55px,'/imgs/mi-home.png',55px);
    }
    // 鼠标移上去的时候
    &:hover{
      margin-left: -55px;
      // 移进去margin属性过渡0.2秒
      transition: margin .2s;
    }
  }
}